.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  	background:    -moz-linear-gradient(bottom, #000, transparent);
  	background:      -o-linear-gradient(bottom, #000, transparent);
  	background:         linear-gradient(bottom, #000, transparent);
    padding: 0px;
    width: 100%;
}

body {
	background-image: url(background.jpg);
}

p {
	color: #ffffff;
	text-align: center;
}

#menu, #logotype, #search, #section, #date, #description {overflow: auto; position: absolute;}
#section, #date {bottom: 25%;}
#menu, #logotype, #search {bottom: 80%; height: 20%;}

#menu {
	left: 0;
	width: 15%;
}

#logotype {
	right: 15%;
	left: 15%;
}

#search {
	width: 15%;
	right: 0;
}

#section {
	width: 35%;
}

#section p {
	
}

#date {
	left: 35%;
}

#date p {

}

#description {
	top: 75%;
    left: 0;  
    bottom: 0; 
    right: 0px;
}

#description p {

}